######################
# Database
######################
DATABASE_URL=postgresql://nexus:nexus@localhost:5432/nexusdb

######################
# Redis
######################
REDIS_URL=redis://localhost:6379

######################
# Cache Timings
######################
FETCH_LOCK_SECONDS=30
AUTO_REFRESH_MINUTES=15
MAUNAL_REFRESH_MINUTES=5